<div class="row">
  <div class="col s12">

    <!-- Select between table or card view -->
    <div class="row">
      <form action="#">
        <div class="row">
          <div class="input-field inline">
            <input class="with-gap" name="viewMode" type="radio" id="table" ng-model="viewMode" value="table" />
            <label for="table">Table view</label>
          </div>
          <div class="input-field inline">
            <input class="with-gap" name="viewMode" type="radio" id="card" ng-model="viewMode" value="card" />
            <label for="card">Cards view</label>
          </div>
        </div>
      </form>
    </div>

    <div class="row">
      <!-- alerts -->
      <div class="col s12 m12">
        <div class="row fade" ng-if="error">
          <div class="col s12">
            <div class="card-panel red lighten-2">
              <strong>{{error.code}}</strong> {{error.message}}.
            </div>
          </div>
        </div>
        <div class="row fade" ng-if="message">
          <div class="col s12">
            <div class="card-panel red lighten-2">
              <strong>{{message}}</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end alerts-->

    <!-- cards -->
    <div class="row" ng-if="viewMode == 'card'">
      <div class="col s12 m4" ng-repeat="group in groups">
        <div class="card">
          <div class="card-image">
            <img src="images/group-default.png">
            <span class="card-title">{{group.name}}</span>
            <a class="btn-floating halfway-fab waves-effect waves-light orange accent-2" ng-click="openModal('update',group)"><i class="material-icons">edit</i></a>
            <a class="btn-floating waves-effect waves-light red accent-2 right" ng-click="deleteGroup(group)"><i class="material-icons">delete</i></a>
          </div>
          <div class="card-content">
            <p><b>Description:</b> {{group.description}}</p>
            <p><b>Members:</b>
              <span ng-repeat="member in group.members">{{member}}, </span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- table -->
    <div class="row" ng-if="viewMode == 'table'">
      <ul class="collection">
        <li class="collection-item avatar" ng-repeat="group in groups">
          <img src="images/group-default.png" alt="" class="circle">
          <span class="title">{{group.name}}</span>
          <p>{{group.description}}<br>
            <span ng-repeat="member in group.members">{{member}}, </span>
          </p>
          <p class="secondary-content">
            <a href="" ng-click="openModal('update',group)"><i class="material-icons orange-text">mode_edit</i></a>
            <a href="" ng-click="deleteGroup(group)"><i class="material-icons red-text">delete</i></a>
          </p>
        </li>
      </ul>
    </div>

    <!-- pagination -->
    <div class="row">
      <div class="col s12 center">
        <ul class="pagination" ng-if="groups.length > 0">
          <li class="{{currentPage === 1 ? 'disabled': ''}}"><a href="" ng-click="updatepage(currentPage-1)"><i class="material-icons">chevron_left</i></a></li>
          <li class="{{currentPage === page ? 'active': ''}}" ng-repeat="page in pages"><a href="" ng-click="updatepage(page);">{{page}}</a></li>
          <li class="{{currentPage === pages.length ? 'disabled': ''}}"><a href="" ng-click="updatepage(currentPage+1)"><i class="material-icons">chevron_right</i></a></li>
        </ul>
      </div>
    </div>

  </div>

  <!-- Add button -->
  <div class="fixed-action-btn horizontal">
    <a class="btn-floating btn-large green" ng-click="openModal('create')">
      <i class="material-icons">add</i>
    </a>
  </div>

</div>

<div class="modal" id="editModal">
  <div class="modal-content">
    <h4 class="modal-title">Edit Group</h4>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Name" ng-model="newGroup.name">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" placeholder="Description" ng-model="newGroup.description">
      </div>
      <!-- <div class="form-group">
            <label for="members">Members</label>
            <input type="text" class="form-control" id="members" ng-model="newGroup.members" ng-list=", " placeholder="Member1,Member2">
          </div>
        </form>-->
  </div>
  <div class="modal-footer">
    <a href="" class="modal-action modal-close waves-effect waves-green btn-flat" data-dismiss="modal">Close</a>
    <a href="" id="update" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="updateGroup()" ng-if="modalMode == 'update'">Update</a>
    <a href="" id="save" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="addGroup()" ng-if="modalMode == 'create'">Save</a>
  </div>
  <!-- /.modal-content -->
</div>
<!-- /.modal -->