<div class="row" style="margin-top: 15px;">
    <div class="col s12 m6">

        <div class="card">
            <h5 class="card-content">Development News</h5>
            <div class="card-image">
                <img src="images/github-flow.png">
            </div>
            <div class="card-content">

                <div class="row" ng-repeat="event in events">
                    <div class="col s12">
                        {{lintDate(event.created_at)}} - {{ getTitle(event) }} by
                        <a href="https://github.com/{{event.actor.login}}" target="_blank">
                            {{event.actor.login}}
                        </a>
                        <a href="{{ seeOnGithub(event) }}" target="_blank">See on Github</a>
                        <!--<pre>{{ event | json:2 }}</pre>-->
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col s12 m6">

        <div class="card">
            <h5 class="card-content">Team components</h5>
            <div class="card-content">
                <div class="row">
                    <div class="col s12 m6 center" ng-repeat="collaborator in collaborators">
                        <p>
                            <a href="{{collaborator.html_url}}" target="_blank">
                                <img src="{{collaborator.avatar_url}}" alt="Component's avatar" class="circle responsive-img" style="max-width: 80px">
                            </a>
                        </p>
                        <p>
                            <i class="material-icons">group</i> {{collaborator.name}}
                        </p>
                        <p>
                            <a href="{{collaborator.html_url}}" target="_blank">@{{collaborator.login}}</a>
                        </p>

                        <!--<pre>{{ collaborator | json:2 }}</pre>-->
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <h5 class="card-content">CI Status</h5>
            <div class="card-content">
                <!--<pre>{{ collaborators | json:2 }}</pre>-->
                <img src="https://travis-ci.org/aws1617-03/aws1617-03.svg?branch=master" alt="travis status" class="responsive-img" />
            </div>
        </div>

    </div>
</div>