<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="col s3">
        <img ng-src="{{account.picture}}" class="responsive-img img-panel" />
      </div>
      <div class="col s9">
        <div class="row">
          <div class="col s12">
            <h5>{{account.name}}</h5>
            <div class="card-panel">
              <a ng-click="toggle = !(toggle)" class="btn blue lighten-2">See my personal token</a>
              <textarea class="fade materialize-textarea" ng-if="toggle" ng-model="token"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <h5>My clients</h5>
            <div class="card-panel center">
              <p><b>Application name: </b> Universities App</p>
              <p><b>Client ID:</b> ERBtyxsi5JTCOTXe7tqpxzHUfZWEKNKT</p>
              <p><b>Redirect URI:</b> http://myapp/callback</p>
              <a href="/api/v1/auth/authorize?client_id=ERBtyxsi5JTCOTXe7tqpxzHUfZWEKNKT&response_type=token&redirect_uri=http://myapp/callback">create</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>